
<div class="page-header">
	<div class="row">
		<div class="container col-xs-4">
		</div>
		<div class="container col-xs-4">
			<%= image_tag "RECIBEE-02.jpg", class: "img-responsive"%>
		</div>
	</div>
	<div>
		<div class="container col-xs-5">
		</div>
		<div>
			<%= link_to 'Create new recipe', new_recipe_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>

<div class="container recipe">
	<div class="row">
		<div class="container col-xs-3">
			<% @recipes.each do |p| %>
				<h4><%= p.name %></p></h4>
				<p><%= p.description %></p>
				<p>Preparation Time (mins): <%= p.preptime %></p>
				<%= image_tag p.avatar.url, class: "img-responsive" %>
				<%= link_to "Show", recipe_path(p) %>
				<%= link_to "Edit", edit_recipe_path(p) %>
				<%= link_to "Delete", recipe_path(p),:method=>:delete %>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
<h1></h1>
</div>





