<%= form_for @recipe, :url => recipes_path, html: { multipart: true } do |f| %>

  <div>
  Name:
  <%= f.text_field :name %>
  </div>

  <div>
  Description:
  <%= f.text_field :description %>
  </div>

  <div>
  Preparation Time (in mins)
  <%= f.text_field :preptime %>
  </div>

  <div>
  <%= f.file_field :avatar %>
  </div>

  <div>
  <%= f.submit %>
  </div>
  
<% end %>

<%= simple_form_for @recipe do |f| %>
  <div>
    <%= f.simple_fields_for :steps do |step| %>
      <%= render 'step_fields', :f => step %>
    <% end %>
  <div>
      <%= link_to_add_association 'add step', f, :steps %>
   </div>
 </div>
    <%= f.submit 'Save' %>
<% end %>