<!DOCTYPE html>
<html>
  <head>
    <title>Honestbee</title>
    <link rel="shortcut icon" href="/path_to_your_pic"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>
  </body>
</html>
